# On bash 3.2, `source_up` exits with error if there are no .envrc files in any
# parent directories. Prepending '!' suppresses errors to maintain
# compatibility with older bash versions
! source_up

# boto3 requires these env variables
export AWS_REGION=us-west-2
export AWS_DEFAULT_REGION=us-west-2