# To keep zip package small, use AWS boto env
#boto3==1.10.32
#botocore==1.13.32
python-json-logger==0.1.11
requests==2.22.0
tabulate==0.8.5
pytest==3.3.2
#freezegun==0.3.15
attrs==19.3.0
wheel==0.34.2