boto3==1.36.4
botocore==1.36.5
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
freezegun==1.5.1
idna==3.10
iniconfig==2.0.0
jmespath==1.0.1
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pytest==8.3.4
pytest-freezegun==0.4.2
python-dateutil==2.9.0.post0
python-json-logger==3.2.1
requests==2.32.3
s3transfer==0.11.1
setuptools==75.8.0
six==1.17.0
tabulate==0.9.0
urllib3==2.3.0
